body {
  background: #f5f7fb;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.card {
  background: white;
  width: 900px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

h2 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: #6b7280;
  margin-bottom: 25px;
}

.form-row {
  display: flex;
  gap: 20px;
  /* border: 1px solid black; */
}
.form-row>div{
  /* border: 1px solid red; */
  width: 100%;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

input,
select {
  width: 90%;
  padding: 10px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}
.button-row {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.add-btn {
  background: #2563eb;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.clear-btn {
  background: white;
  border: 1px solid #e5e7eb;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.empty {
  margin-top: 25px;
  text-align: center;
  color: #6b7280;
  border: 1px solid #e5e7eb;
  padding: 15px;
  border-radius: 8px;
}

table {
  width: 100%;
  margin-top: 25px;
  border-collapse: collapse;
}

thead {
  background: #f9fafb;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
}

.remove-btn {
  background: #fee2e2;
  color: #b91c1c;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}
